<table class="table">
  <tbody>
  {% for item in items %}
    <tr>
      <td><a href="{{ path('rencontre_modifier', {'id': item.id}) }}">{{ item.date | date('d/m/Y') }}</a></td>
      <td>{{ item.libelle }}</td>
      <td>
        {% if item.equipeA %}
        <a href="{{ path('rencontre_equipe', {'nom': item.equipeA }) }}">{{ item.equipeA }}</a>
        {% else %}
        <em class="text-muted">Suspense</em>
        {% endif %}
      </td>
      <td>{{ item.scoreA }}</td>
      <td>
        {% if item.equipeB %}
        <a href="{{ path('rencontre_equipe', {'nom': item.equipeB }) }}">{{ item.equipeB }}</a>
        {% else %}
        <em class="text-muted">Suspense</em>
        {% endif %}
      </td>
      <td>{{ item.scoreB }}</td>
      <td><a href="{{ path('pronostic_rencontre', {'idRencontre': item.id }) }}">{{ item.pronostics | length }}</a></td>
      <td><a class="btn btn-xs btn-default" href="{{ path('pronostic_nouveau', {'idRencontre': item.id })}}">Pronostiquer</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
