{% extends  'base.html.twig' %}
{% block body %}
{% block title %}
<h1>
      Rencontres de la coupe d'Europe de football 2016
</h1>
{% endblock %}
<table class='table'>
<tbody>
{% for rencontre in rencontresA %}
  <tr>
  <td>{{rencontre.date | date('d/m/Y')}}</td>
  <td>{{rencontre.libelle}}</td>
  <td>{{rencontre.equipeA}}</td>
  <td>{{rencontre.equipeB}}</td>
  </tr>
{% endfor %}
{% for rencontre in rencontresB %}
  <tr>
  <td>{{rencontre.date | date('d/m/Y')}}</td>
  <td>{{rencontre.libelle}}</td>
  <td>{{rencontre.equipeA}}</td>
  <td>{{rencontre.equipeB}}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
